html{
  margin: 0;
	width:100%;
	height: 100%;
	display:block;
	font-size:100%;
  overflow:hidden;
}
body {
  background: #d8d8d8;
  font-family: 'Open Sans', sans-serif;
  color: #606060;
  margin: 0;
	width:100%;
	height: 100%;
	display:block;
	font-size:100%;
  overflow:hidden;
}

header {
  margin-top: 0;
  z-index: 300;
  position: fixed;
  top: 0;
}

/* --- BARRA SUPERIOR HEADER --- */
header nav {
  height: 4em !important;
  background: #A80C76;
  overflow: hidden;
  padding: 0.2em;
  align-items: flex-end !important;
}
header h1 {
  font-size: 2em;
  font-weight: 300;
  color: #efefef;
}

header h3 {
  font-size: 0.8em;
  color: #353535;
  text-align: center;

}

#abrir_menu_lat{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #A80C76 !important;
  outline: none !important;
  font-size:1.5em;
  height: 100%;
}
#abrir_menu_lat:hover {
  background-color: #bfbfbf !important;
}
#cerrar_menu_lat {
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #808080 !important;
  outline: none !important;
  font-size:1.5em;
  height: 100%;
  display:none;
}
#cerrar_menu_lat:hover {
    background-color: #bfbfbf !important;
}

#abrir_menu_nodos{
  text-shadow:none !important;
  color: #f2f2f2 !important;
  outline: none !important;
  font-size:1.5em;
}
#cerrar_menu_nodos {
  text-shadow:none !important;
  color: #808080 !important;
  outline: none !important;
  font-size:1.5em;
  display:none;
}

header .boton_transparente {
  border: 0;
}
header i {
  font-size: 1.5em;
  /*color: #efefef;*/
}

header .boton_transparente:focus {
  outline: none;
  box-shadow: none;
  border:0;
}

header .btn_idioma{
	font-size:0.8em;
	cursor:pointer;
	background-color:#606060;
	color:#e0e0e0;
}
header .btn_idioma:focus {outline: none;box-shadow: none;border:2px solid transparent}
header .btn_idioma:hover {
    background-color: #bfbfbf;
}
header .btn_idioma:active {
    background-color: #bfbfbf;
}
header .btn_idioma_sel{
	font-size:1em;
	cursor:pointer;
	background-color:#bfbfbf;
	color:#262626;
}
.btn_idioma_sel:focus {outline: none;box-shadow: none;border:2px solid transparent}


/* --- MENÚ HORIZONTAL NODOS --- */
#menuNodos {
    position: absolute;
    height: 0;
    width: 100%;
    top: 4em;
    left: 0;
    z-index: 1;
    background-color: none;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 20300;
    transition: 0.4s;
    padding: 1em 0;
    box-sizing:border-box;
}

.row_menu_nodos{
  border-top: 0.2em solid #232323;
}

.menu_nodos ul, .menu_nodos li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.menu_nodos ul {
    margin: 4em auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.menu_nodos a {
    display: block;
    font-size: 1em;
    color: #606060;
    text-decoration: none;
}

.menu_nodos a:hover{
    color: #f2f2f2;
    background-color: #606060;
}










main {
  background: #f8f8f8;
  margin: 0;
	width:100%;
	height: 100%;
	display:block;
	font-size:100%;
}

/* --- MAPA --- */
#map {
  margin: 0;
	width:100%;
	height:100%;
	z-index: 20100;
}

#textoGetFeatureInfo{
  background: #94346E;
  position: fixed;
  top:10em;
  right:10em;
  width: auto;
  height: auto;
  z-index: 100;
}
/* -- Controles -- */
.ol-control{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
  outline: none !important;
}

/* Estilo de todos los botones de control */
.ol-control button{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
  outline: none !important;
  height: 26px;
  width: 26px;
}
.ol-control button:link{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
  outline: none !important;
}
.ol-control button:visited{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
  outline: none !important;
}
.ol-control button:active{
  text-shadow:none !important;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
  outline: none !important;
}
.ol-control button:hover{
  text-shadow:none !important;
  background-color: #606060 !important;
  color: #f2f2f2 !important;
  outline: none !important;
}



/* Div posicion_escala: */
.posicion_escala{
  position: absolute;
  left: 0.5em;
  bottom: 2.6em;
  width: 220px;
  background-color: #f2f2f2;
  border-radius: 0.25em;
  color: #606060;
  text-align: left;
  padding: 0.4em;
  display: inline;
}

/* Escala gráfica */
.ol-scale-line{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: inherit;
  bottom: 0;
  left: 0;
}

.ol-scale-line-inner{
  color: #454545;
  border-color: #454545;
}

/* Posición del ratón */
.custom-mouse-position{
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-left: 0.2em;
}



/* Control de zoom */
.ol-zoom{
  left: auto;
  top: 10em;
  right: 0.5em;
  background-color: #f2f2f2 !important;
  color: #606060 !important;
}



/* Mapa de localización */
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  bottom: 4.2em;
  left: auto;
  right: 0.5em;
  top: auto;
  padding: 0;
  margin: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 0.1em solid #a8a8a8;
  padding: 0;
  margin: 0;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: 0;
  width: 16em;
  padding: 0;
  margin: 0;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 0.1em solid #94346E;
  padding: 0;
  margin: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: 0em;
  left: auto;
  right: 0.1em;
  top: auto;
  padding: 0;
  margin: 0;
}

.ol-viewport{
  position: absolute !important;
}

/* Control de mapas base */
.ol-layerswitcher-image{
  position: absolute !important;
  top: auto !important;
  bottom: 14.5em !important;
  left: auto !important;
  right: 0.5em !important;
  z-index: 300;
}
.ol-control.ol-layerswitcher-image button{
  background-image: none !important;
}
.ol-layerswitcher-image.panel{
  background: #d8d8d8 !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #353535 !important;
}

/* Atribuciones */
.ol-attribution,
.ol-attribution.ol-uncollapsible{
  bottom: 2.5em;
  background: #d8d8d8;
  height: 1.5em;
}

.ol-attribution,
.ol-attribution.ol-uncollapsible a{
  color: #353535;
}

/* Buscador */
.search_field {
    position: absolute;
    height: auto;
    width: 200px;
    top: 7.5em;
    right: 0.5em;
    z-index: 300;
    border-color: #424242;
    background: #FFFFFF;
    color: #424242;
    z-index: 20200;

    font-size: 12px;
    display: inline-block;
}






/* --- MENÚ LATERAL IZQUIERDO - CAPAS --- */
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 4em;
    left: 0;
    background-color: #f2f2f2;
    border-color:#A80C76;
    border-width:0.05em;
    border-style: solid;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.4s;
    padding: 1em 0;
    box-sizing:border-box;
    z-index:20300;
}

.sidebar a {
  text-decoration: none;
}

.ol-layerswitcher{
  width:100%;
}

.ol-layerswitcher .panel{
  margin: 0;
  padding: 0;
}

.ol-layer-tile{
  background-color: #c4c4c4;
  padding: 0.25em;
  margin: 0.25em;
  justify-content: space-between !important;
}
.ol-layer-tile:hover{
  background-color: #a8a8a8;
}


.tabla_controles{
  padding: 0 !important;
  margin: 0;
  border-radius: 0 !important;

}
.tabla_controles li{
  padding: 0.5em !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-color: #b7b7b7;
  background-color: #f2f2f2;
}
.tabla_controles li.accion{
  cursor: pointer;
}

.div_info_capa{
  width: 24%;
  min-width: 16em;
  font-size: 0.8em;
  text-align: justify;
  padding: 0.5em !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-color: #a8a8a8;
  border-width: 0.2em;
  background-color: #f2f2f2;
}

h4{
  text-align: center;
  font-size: 1em;
}

h5{
  text-align: center;
  font-size: 0.94em;
}

#tabMenuBusqueda li a{
  background-color: #f2f2f2;
  color: #606060;
}
#tabMenuBusqueda .nav-link.active{
  background-color: #606060;
  color: #f2f2f2;
}
#tabMenuBusqueda li a:hover{
  background-color: #A80C76;
  color: #f2f2f2;
}
#tabMenuBusqueda li{
  background-color: #f2f2f2;
  color: #f2f2f2;
}


.select2 .select2-container .select2-container--bootstrap{
  background-color: rgba(255,255,255,0.9);
  width: 100% !important;
}

.select2 .select2-selection{
  font-size: 1.1em;
  padding: 0.1em;
}

.select2-container{
  font-size: 0.8em;
}

.select2-results{
  height: 14em;
  overflow-y: auto;
  font-size: 1em;
}

.select2-results__option--highlighted{
  background-color: #A80C76;
  color: #f2f2f2;
}

.lista_capas_catalogo{
  font-size: 0.8em;
  background-color: rgba(255,255,255,0.9);
  color: #606060;
}

.lista_capas_catalogo:hover{
  background-color: #A80C76;
  color: #f2f2f2;
}












footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  font-size: 0.7em;
  height: 3em;
  border-top: 0.1em solid #c1c1c1;
  z-index: 20400;
}

footer .boton_transparente {
  border: 0;
}
footer i {
  font-size: 2em;
  color: #606060;
}

footer .boton_transparente:focus {
  outline: none;
  box-shadow: none;
  border:0;
}

.boton_transparente{
	text-shadow:none;
	cursor:pointer;
  border: 0;
  background-color: none;
}
.boton_transparente:link {
	text-shadow:none;
	cursor:pointer;
  border: 0;
  background-color: none;
}
.boton_transparente:visited {
	text-shadow:none;
  border: 0;
  background-color: none;
}
.boton_transparente:active {
	text-shadow:none;
  border: 0;
  background-color: none;
}
.boton_transparente:hover {
	text-shadow:none;
  border: 0;
  background-color: none;
}
